{% extends '@App/client.html.twig' %}

{% block title %}Создание документа{% endblock %}
{% block content %}
    <div class="document">
        {{ form_start(form) }}
            <div class="but">
                {{ form_widget(form.submit) }}
                <a class="btn btn-success" href="{{ back }}" role="button">Отмена</a>
            </div>
            <div class="tbl">
                <div class="rw">
                    <div class="label">{{ form_label(form.description) }}</div>
                    <div class="value">{{ form_widget(form.description) }}</div>
                </div>
                <div class="rw">
                    <div class="label">{{ form_label(form.file) }}</div>
                    <div class="value">{{ form_widget(form.file) }}</div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}