{% extends '@App/client.html.twig' %}

{% block title %}Напишите нам{% endblock %}
{% block content %}
    <div class="write">
        {{ form_start(form) }}
            <div class="but">
                {{ form_widget(form.submit) }}
            </div>
            <div class="tbl">
                <div class="rw">
                    <div class="label">{{ form_label(form.name) }}</div>
                    <div class="value">{{ form_widget(form.name) }}</div>
                </div>
                <div class="rw">
                    <div class="label">{{ form_label(form.email) }}</div>
                    <div class="value">{{ form_widget(form.email) }}</div>
                </div>
                <div class="rw">
                    <div class="label">{{ form_label(form.subject) }}</div>
                    <div class="value">{{ form_widget(form.subject) }}</div>
                </div>
                <div class="rw">
                    <div class="label">{{ form_label(form.message) }}</div>
                    <div class="value">{{ form_widget(form.message) }}</div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}